<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="reports" frontName="reports">
            <module name="NobleCommerce_Reports"/>
        </route>
        <route id="noblecommerce_reports" frontName="noblecommerce_reports">
            <module name="NobleCommerce_Reports"/>
        </route>
    </router>
</config>